<div class="container">
    <h1 class="title">Dashboard</h1>
    <div class="divBackground">
        <div class="row current_trip" >
            <div class="col-md-2">Current Trips</div>
            <div class="space col-md-1"></div>
            <div class="img_box col-md-1"><a href="#"><img src="./img/acadia_thumb.png" alt=""></a></div>
            <div class="space col-md-1"></div>
            <div class="img_box col-md-1"><a href="#"><img src="./img/white_mountain_thumb.png" alt=""></a></div>
            <div class="space col-md-1"></div>
            <div class="img_box col-md-1"><a href="#"><img src="./img/green_mountain_thumb.png" alt=""></a></div>
            <div class="space col-md-1"></div>
            <div class="img_box col-md-1"><a href="#"><img src="./img/pine_grove_thumb.png" alt=""></a></div>
            <div class="space col-md-1"></div>
            <div class="img_box col-md-1"><a href="#"><img src="./img/yosemite_thumb.png" alt=""></a></div>
        </div>
        <div class="row" >
            <div class="col-md-2"></div>
            <div class="space col-md-1"></div>
            <div class="img_text col-md-1 text-center">Acadia</div>
            <div class="space col-md-1"></div>
            <div class="img_text col-md-1 text-center">White Mountain</div>
            <div class="space col-md-1"></div>
            <div class="img_text col-md-1 text-center">Green Mountain</div>
            <div class="space col-md-1"></div>
            <div class="img_text col-md-1 text-center">Pine Grove Furnace</div>
            <div class="space col-md-1"></div>
            <div class="img_text col-md-1 text-center">Yosemite</div>
        </div>
        <div class="row past_trip" >
            <div class="col-md-2">Past Trips</div>
            <div class="space col-md-1"></div>
            <div class="img_box col-md-1"><a href="#"><img src="./img/acadia_thumb.png" alt=""></a></div>
            <div class="space col-md-1"></div>
            <div class="img_box col-md-1"><a href="#"><img src="./img/white_mountain_thumb.png" alt=""></a></div>
            <div class="space col-md-1"></div>
            <div class="img_box col-md-1"><a href="#"><img src="./img/green_mountain_thumb.png" alt=""></a></div>
            <div class="space col-md-1"></div>
            <div class="img_box col-md-1"><a href="#"><img src="./img/pine_grove_thumb.png" alt=""></a></div>
            <div class="space col-md-1"></div>
            <div class="img_box col-md-1"><a href="#"><img src="./img/yosemite_thumb.png" alt=""></a></div>
        </div>
        <div class="row" >
            <div class="col-md-2"></div>
            <div class="space col-md-1"></div>
            <div class="img_text col-md-1 text-center">Acadia</div>
            <div class="space col-md-1"></div>
            <div class="img_text col-md-1 text-center">White Mountain</div>
            <div class="space col-md-1"></div>
            <div class="img_text col-md-1 text-center">Green Mountain</div>
            <div class="space col-md-1"></div>
            <div class="img_text col-md-1 text-center">Pine Grove Furnace</div>
            <div class="space col-md-1"></div>
            <div class="img_text col-md-1 text-center">Yosemite</div>
        </div>
    </div>
</div>