<style>
    .tripImg{
        height: 25vh;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        margin: 10px;
        cursor: pointer;
    }
</style>

<div class="container" ng-controller="UsersController as UC">
    <h1 class="title"><span ng-bind="UC.user_name"></span>'s Trips</h1>
    <div ng-controller="TripsController as TC">
        <div class="row current_header">
            <div class="col-md-3"><h2>Current Trips</h2></div>
        </div>
        <div class="row current_trip">
            <!-- <div class="col-md-3 tripimg"><a href="#"><img ng-src="{{trip.imgurl}}" alt=""></a></div> -->
            <!-- <img class="col-md-3" ng-src="{{trip.imgurl}}" alt=""> -->
            <div class="col-md-3 tripImg" ng-repeat="trip in TC.trips" ng-style="{'background-image': 'url({{trip.imgurl}})'}" ng-click="TC.showTrip(trip)">
            </div>
        </div>
        <div class="row past_header">
            <div class="col-md-3"><h2>Past Trips</h2></div>
        </div>
        <div class="row past_trip" >
            <div class="col-md-3"><a href="#"><img src="./img/acadia_thumb.png" alt=""></a></div>
            <div class="col-md-3"><a href="#"><img src="./img/white_mountain_thumb.png" alt=""></a></div>
            <div class="col-md-3"><a href="#"><img src="./img/green_mountain_thumb.png" alt=""></a></div>
            <div class="col-md-3"><a href="#"><img src="./img/pine_grove_thumb.png" alt=""></a></div>
            <div class="col-md-3"><a href="#"><img src="./img/yosemite_thumb.png" alt=""></a></div>
        </div>
    </div>
</div>