<div class="container">
    <h1 class="title text-center">Welcome Campers</h1>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-12 col-sm-24">
                    <h2 class="text-center">Trips</h2>
                </div>
            </div>
            <div class="row" ng-controller="TripsController as TC">
                <div class="col-md-12 col-sm-24" ng-repeat="trip in TC.">
                    <div ng-style="'background-image: 'url('+ TC.trip.url +')'">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>