<style>

	.cover {
		background-size: 100% 100%;
		background-repeat: no-repeat;
		width:100%;
	    height: 100%;
	    position: static;
	}

	.content {
		position:absolute;
	    top:10%; left:40%;
	    color:white;
	}

	.content a {
		color:white;
	}

</style>
<div class="cover">
	 <video width="100%" height="100%" autoplay muted loop preload="true">
     <source src="vid/bgvid.mp4" type="video/mp4" />
   </video>
   		<div class="text-center content">
   			<h1>Welcome Campers</h1>
   			<h2><a href="#/home">Enter Site</a></h2>
   		</div>
</div>
