<div class="container" ng-controller="TripsController as TC">
	<h1 class="title">Add New Trip</h1>
	<div ng-repeat="error in TC.errors">
		<p ng-bind="error" style="color:red"></p>
	</div>
	<form class="divBackground">
		<div class="form-group">
			<label for="tripname">Name:</label>
			<input type="text" class="form-control" id="tripname" ng-model="TC.newtrip.name" placeholder="Trip Name">
			
		</div>
		<div class="form-group">
			<label for="zipcode">City</label>
			<input type="text" class="form-control" id="zipcode" ng-model="TC.newtrip.city" placeholder="e.g. Seattle">
		</div>
		<div class="form-group">
			<label for="departure">Departure Date:</label>
			<input type="date" class="form-control" id="departure" ng-model="TC.newtrip.date" placeholder="Date">	
		</div>
		<div class="form-group">
			<label for="contactinfo">Contact Info:</label>
			<input type="text" class="form-control" id="contactinfo" ng-model="TC.newtrip.contact" placeholder="Phone/Email">
		</div>
		<div class="form-group">
			<label for="image">Image:</label>
			<input type="text" class="form-control" id="image" ng-model="TC.newtrip.imgurl" placeholder="Image URL">
			<p>Enter image URL</p>
		</div>
		<!-- <div class="form-group">
			<label for="imgfile">Image:</label>
			<input type="file" id="imgfile">
			<p class="help-block">Image file may not exceed 2MB.</p>
		</div> -->
		<button type="submit" class="btn btn-primary" ng-click="TC.addTrip()">Create</button>
	</form>
</div>