<style>
    .commentInput {
        margin-top: 20px;
    }

    .messageTitle {
        margin-bottom: 40px;
    }

    .commentBox {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    #weatherImg {
        margin: auto;
        margin-top: -20px;
        margin-bottom: -20px;
    }

</style>
<div class="container" ng-controller="TripsController as TC">
    <div class="row" ng-controller="WeatherController as WC">
        <div class="col-xs-2 col-lg-1"></div>
        <div class="col-xs-8 col-lg-10 imgHolder">
            <h1 ng-bind="TC.trip.name"></h1>
            <div class="mainImg">
                <style>
                    .mainImg {
                        background: url("{{TC.trip.imgurl}}") no-repeat center center fixed;
                        background-repeat: no-repeat;
                        background-size: cover;
                        height: 60vh;
                        width:100%;
                        padding: 50px;
                    }
                </style>
                <div class="weatherWidget text-center">
                    <h4 id="weatherCity" ng-bind="WC.weather_data.city_name"></h4>
                    <h3 id="weatherTemp"><span ng-bind="WC.weather_data.temp"></span> °F</h3>
                    <h5 ng-bind="WC.weather_data.description"></h5>
                    <img id="weatherImg" src="http://openweathermap.org/img/w/{{WC.weather_data.icon}}.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-xs-12 col-sm-5">
            <div class="divBackground">
                <h3>Trip Information</h3>
                <ul>
                    <li>City: <span ng-bind="trip.city"></span></li>
                    <li>Departure: <span ng-bind="trip.date | date"></span></li>
                    <li>Party of: <span ng-bind="trip.count"></span></li>
                    <li>Contact info: <span ng-bind="trip.contact"></span></li>
                </ul>
            </div>
        </div>
        <div class="col-xs-12 col-md-5">
            <div class="divBackground">
                <h3>Supplies Needed</h3>
                <div ng-repeat="user in TC.trip._user">
                    <div ng-if="user == TC.user.id">
                        <form role="form">
                            <label for="Item">Item</label>
                            <input type="text" class="form-control" ng-model="TC.item.type">
                            <label for="Amount">Amount</label>
                            <input type="text" class="form-control" ng-model="TC.item.amount">
                            <button class="btn btn-success" ng-click="TC.addSupplies">Add!</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-repeat="user in TC.trip._user">
        <div ng-if="user == TC.user.id" class="row">
            <div class="col-xs-3"></div>
            <div class="col-xs-5">
                <div class="divBackground">
                    <h3>Add a User to the trip!</h3>
                    <form role="form">
                        <div class="form-group">
                            <label for="Message">User Name:</label>
                            <input type="text" class="form-control" ng-model="TC.add_user.user_id">
                        </div>
                        <button type="submit" ng-click="TC.addUser(trip)" class="btn btn-success">Add!</button>
                        <p ng-bind="TC.message"></p>
                    </form>  
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-24 col-md-12">
            <div>
                <div class="row" ng-controller="MessagesController as MC">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <div class="divBackground">
                            <h2 class="messageTitle">Message Board</h2>
                            <form role="form">
                                <div class="form-group">
                                    <label for="Message">Post Message:</label>
                                    <input type="text" class="form-control" ng-model="MC.new_message.message">
                                </div>
                                    <button type="submit" ng-click="MC.addmessage()" class="btn btn-primary">Post</button>
                            </form> 
                        </div>
                        <div class="messageBox divBackground" ng-repeat="message in MC.messages | orderBy: '-created_at'" ng-if="message.trip_id == TC.trip._id">
                            <div>
                                <h4><span ng-bind="message.user_name"></span> <span ng-bind="message.created_at | date"></span> <button class="btn btn-danger" ng-click="MC.deletemessage(message._id)" ng-if="MC.activeUser == message.user_name">Delete</button></h4>
                                <h3 ng-bind="message.message"></h3>
                            </div>
                            <div class="row commentInput">
                                <div class="col-md-1"></div>
                                <div class="col-md-11" ng-controller="CommentsController as CC">
                                    <div class="commentBox" ng-repeat="comment in message.comments">
                                        <h4><span ng-bind="comment.user_name"></span> <span ng-bind="comment.created_at | date"></span> <button class="btn btn-danger" ng-click="CC.deletecomment(message._id, comment, MC.showmessages)" ng-if="MC.activeUser == comment.user_name">Delete</button></h4>
                                        <h3 ng-bind="comment.comment"></h3>
                                    </div>
                                    <form role="form">
                                        <div class="form-group">
                                            <label for="Comment">Post Comment:</label>
                                            <input type="text" class="form-control" ng-model="CC.new_comment.comment">
                                        </div>
                                            <button type="submit" ng-click="CC.addcomment(message._id, MC.showmessages)" class="btn btn-primary">Comment</button>
                                    </form>
                                </div>
                            </div>
                        </div>  
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>