*{
    color: black;
    font-family: sans-serif;
}
.container {
	/*padding-top: 20px;*/
}
.img_box{
    width: 145px;
    height: 145px;
}
.img_text{
    width: 145px;
}
.your_trip, .recent_trip, .popular_trip{
    margin-top: 30px;
}
.space{
    width: 50px;
}
img{
    max-width: 100%;
    max-height: 100%;
}

.divBackground {
	color:white;
	padding: 20px;
	background-color: rgba(20, 150, 200, .6);
	margin: 20px;
}

/*.mainImg {
	background: url("/img/everest_mountain_tops.jpg") no-repeat center center fixed;
	background-repeat: no-repeat;
	background-size: cover;
    height: 60vh;
	width:100%;
	padding: 50px;
}*/

    #weatherCity {
        display: inline-block;
        color:lightblue;
    }


.weatherWidget {
    background-color: rgba(20, 150, 200, .6);
    display: inline-block;
    padding: 15px 20px;
    border-radius: 5px;
    color:lightblue;
    font-family: sans-serif;
}

    .weatherWidget h5 {
        display: inline-block;
    }

    #weatherTemp {
        padding: 0 40px 20px 40px;
        border-bottom: 1px solid silver;
    }

    .weatherWidget span {
        color:lightblue;
    }

.imgHolder {
	margin-top: 40px
}

.title {
	margin-left: 20px;
}

.messageBox {
    padding:20px;
    margin-top: 20px;
}

    .messageBox span {
       color:#F3E8B5;
    }

    .messageBox h3 {
        margin-left: 20px;
        color: white;
    }
