*{
    /*outline: 1px dashed red;*/
}
.img_box{
    width: 145px;
    height: 145px;
}
.img_text{
    width: 145px;
}
.your_trip, .recent_trip, .popular_trip{
    margin-top: 30px;
}
.space{
    width: 50px;
}
img{
    max-width: 100%;
    max-height: 100%;
}

.divBackground {
	color:white;
	padding: 20px;
	background-color: rgba(210, 60, 10, 0.6);
	margin: 40px 5px 5px 20px;
}

.mainImg {
	background-image: url("/img/everest_mountain_tops.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width:100%;
	height: 650px;
	padding: 50px;
}

.weatherWidget {
    background-color: rgba(210, 60, 10, 0.6);
    display: inline-block;
    padding: 15px 25px;
    border-radius: 5px;
    color:white;
    font-family: sans-serif;
}

.imgHolder {
	margin-top: 40px
}

.title {
	margin-left: 20px;
}